
.login-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.crow-image {
  width: 200px;
  height: 200px;
}

.login-container__option-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  button {
    border: 0;
    margin-bottom: 5px;
  }

  .account-button {
    background-color: #262628;
  }
}