$personal-font-color: #414141;
$personal-think: #69a8db;
$personal-light: #85c1e6;

.base-button {
  height: 2.5rem;
  line-height: 1.5rem;
  color: $personal-font-color;
  background-color: $personal-think;
  &:hover {
    color: $personal-font-color;
    background-color: $personal-light;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(38,38,40,.25);
  }
}

.google-button {
  height: 2.5rem;
  line-height: 1.5rem;
  margin-top: 2px;
  color: white;
  background-color: #CB3F22;
  &:hover {
    color: white;
    background-color: #cf553d;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(207, 85, 61, .25);
  }
}

.github-button {
  height: 2.5rem;
  line-height: 1.5rem;
  color: white;
  background-color: #222222;
  &:hover {
    color: white;
    background-color: #333333;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, .25);
  }
}

.fixed-button,
.cancle-button {
  width: 100%;
  height: 26px;
  padding: 2px 5px;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  transition: background-color .15s ease-in-out;
  &:hover {
    color: white;
    transition: background-color .15s ease-in-out;
  }
}

.fixed-button {
  background-color: $personal-think;
  border-color: rgba($color: white, $alpha: 0);
  &:hover {
    background-color: $personal-light;
    border-color: rgba($color: white, $alpha: 0);
  }
}

.cancle-button {
  background-color: #e44747;
  border-color: rgba($color: #e44747, $alpha: 0);
  &:hover {
    background-color: #e80d0d;
    border-color: rgba($color: #e80d0d, $alpha: 0);
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(207, 85, 61, .25);
  }
}

.fixed-button {

}
.cancle-button {

}