.login__auth-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.auth-containter--input {
  margin-bottom: 10px;
}

.login-button {
  color: #EEE;
  background-color: #262628;
  &:hover {
    color: #EEE;
    background-color: #646870;
  }
}