.login__auth-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.auth-containter--input {
  margin-bottom: 10px;
}

.auth-containter--submit {
  margin-bottom: 10px;
}

.auth-container--text {
  text-align: center;
  color: #f54545;
  font-weight: 100;
  margin-bottom: 0px;
}

$second-password-transition: opacity 300ms, transform 300ms;
.second-password-enter {
  opacity: 0;
  transform: scale(0.9);
}
.second-password-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: $second-password-transition;
}
.second-password-exit {
  opacity: 1;
}
.second-password-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: $second-password-transition;
}

$error__small-size: 1rem;
$error__big-size: 1.2rem;
$error-transition: all 100ms;
@mixin error-alram($sized) {
  font-size: $sized;
  height: $sized * 2;
  line-height: $sized;
  transition: $error-transition;
}

.error-alram-enter {
  height: 0;
  opacity: 0;
  transform: scale(0.9);
}
.error-alram-enter-active {
  opacity: 1;
  transform: translateX(0);
  @include error-alram($error__big-size);
}
.error-alram-enter-done {
  @include error-alram($error__small-size);
}
.error-alram-exit {
  opacity: 1;
  @include error-alram($error__small-size);
}
.error-alram-exit-active {
  height: 0;
  line-height: 0;
  font-size: 0;
  opacity: 0;
  transform: scale(0.9);
  transition: $error-transition;
}
