@import '../style/variables.scss';

$card-height: 80px;
$card-fixed-height: 130px;
$card-mb: 30px;
.crow-card,
.crow-card-fixed {
  position: relative;
  display: flex;
  bottom: 0;
  width: 100%;
  height: $card-height;
  background-color: white;
  padding: .7rem;
  border: 3px solid $personal-think;
  border-radius: 30px;
  margin-bottom: $card-mb;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  box-shadow: $contain-shadow;

  & > * {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  & > .crow-card--btn-group {
    display: flex;
    position: absolute;
    right: 0;
    top: -1rem;
    text-align: right;
  }
  & > .crow-card--text {
    width: 100%;
    margin: 0;
  }
}

.crow-card-fixed {
  height: $card-fixed-height;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.crow-card__btn-edit,
.crow-card__btn-delete {
  color: white;
  width: 30px;
  height: 30px;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 30px;
  margin-right: 5px;
  font-size: .8rem;
}

.crow-card__btn-edit {
  @include btn-base-color($personal-think, $personal-light);
}

.crow-card__btn-delete {
  @include btn-base-color(#e44747, #e80d0d);
}


$ani-pixcel: -20px;
$ani-duration: 500ms;
@mixin crow-ani {
  &-enter {
    opacity: 0;
  }
  &-enter-active {
    opacity: 1;
    transition-property: height, margin, top, opacity;
    transition-duration: $ani-duration;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transition-property: height, margin, top, opacity;
    transition-duration: $ani-duration;
  }
}
.crow-animation {
  @include crow-ani;
  &-enter {
    height: 160px;
    position: relative;
    top: 20px;
  }
  &-enter-active {
    height: $card-height;
    position: relative;
    top: 0;
    margin-bottom: $card-mb;
  }
}

.crow-fixed-animation {
  @include crow-ani;
  &-enter {
    height: $card-height;
    margin-bottom: -$card-height;
  }
  &-enter-active {
    height: $card-fixed-height;
  }
  &-exit {
    margin-bottom: -160px;
  }
}